<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>News</title>
  <link href="{{ url_for('static', filename="styles/global.css") }}" rel="stylesheet" type="text/css" />
  <link href="{{ url_for('static', filename="styles/chat.css") }}" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="main">
      <div class="navigation ">
          <div class="navigation-side">
              {% if session["id"] %}
              <div class="navigation-item">
                  <a href="{{url_for('feed')}}">News</a>
              </div>
              <div class="navigation-item">
                  <a href="{{url_for('chat_list')}}">Chats</a>
              </div>
              {% endif %}
          </div>
          <div class="navigation-side">
              {% if session["id"] %}
              <div class="navigation-item">
                   <a href="{{url_for('profile', client_id = session['id'])}}">Profile</a>
              </div>
              {% else %}
              <div class="navigation-item">
                  <a href="{{url_for('sign_in')}}">Log in</a>
              </div>
              {% endif %}
              {% if session["id"] %}
              <div class="navigation-item">
                  <a href="{{url_for('log_out')}}">Log out</a>
              </div>
              {% endif %}
          </div>
      </div>

      {% if messages|length == 0 %}
    <div class="box">No messages yet...</div>
    {% else %}
    <div class="box" id="messages-holder">
        {% for message in messages %}
        <div>
              {% if message.sender_id != session['id'] %}
              <div class="message left">
                  <div class="message-header">
                      <span class="message-author">{{message.sender_email}}</span>
                      <span class="message-datetime">{{message.datetime}}</span>
                  </div>
                  <div class="message-text">{{message.text}}</div>
              </div>
              {% else %}
              <div class="message right">
                  <div class="message-header">
                      <span class="message-author">{{message.sender_email}}</span>
                      <span class="message-datetime">{{message.datetime}}</span>
                  </div>
                  <div class="message-text">{{message.text}}</div>
              </div>
              {% endif %}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <form method='POST'>
      <input type='text' name='text'/>
      <input type='submit'/>
    </form>

  </div>

  <script>
      let objDiv = document.getElementById("messages-holder");
      objDiv.scrollTop = objDiv.scrollHeight;
  </script>
  <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
</body>

</html>