<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" href="{{url_for('static',filename='styles/auth.css') }}">
  <link rel="stylesheet" href="{{url_for('static',filename='styles/global.css') }}">
</head>
<body>
  <div class="navigation ">
          <div class="navigation-side">
              {% if session["id"] %}
              <div class="navigation-item">
                  <a href="{{url_for('feed')}}">News</a>
              </div>
              <div class="navigation-item">
                  <a href="{{url_for('chat_list')}}">Chats</a>
              </div>
              {% endif %}
          </div>
          <div class="navigation-side">
              {% if session["id"] %}
              <div class="navigation-item">
                   <a href="{{url_for('profile', client_id = session['id'])}}">Profile</a>
              </div>
              {% else %}
              <div class="navigation-item">
                  <a href="{{url_for('sign_in')}}">Log in</a>
              </div>
              {% endif %}
              {% if session["id"] %}
              <div class="navigation-item">
                  <a href="{{url_for('log_out')}}">Log out</a>
              </div>
              {% endif %}
          </div>
      </div>

    <br>
    <center><h3>Edit</h3></center>
      <br>

        <div class="box">
            <form class="form" method="POST">
                <input class="form-field" name="email" type="email" placeholder="Email" value={{client_email}}>
                <input class="form-field" name="username" type="text" placeholder="Username" value={{client_username}}>
                <input class="form-field" name="about" type="text" placeholder="About" value={{client_about}}>
                <button class="form-submit" type="submit">Submit</button>
                <p class="form-error">{{error}}</p>
            </form>
        </div>
  </div>

  
</body>
</html>