#form-post{
  display: flex;
  justify-content: stretch;
}
#form-post textarea{
  width: 95%;
  margin-right: 8px;
}
.post-header{
  display: flex;
  justify-content: space-between;
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 8px;
}
.post-img{
  text-align: center;
}
.post-img img{
  width: 90%;
}
.post-footer{
  display: flex;
  justify-content: flex-end;
}